doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/add-product.css")
    body  
        nav.nav
            h4.nav-header RedEye
            ul.nav-links
                li.nav-link.active
                    a(href="/") shop

                li.nav-link
                    a(href="/admin/add-product") add-product

        main.main
            form.form(method="POST" action="/admin/add-product")
                .input
                    label(for="title") Title
                    input#title(type="text" name="title")
               
                .input
                    label(for="price") Price
                    input#price(type="text" name="price")
                    
                button.button(type="submit") submit
                
