
<%- include('includes/start.ejs') %>

<%- include('includes/navigation.ejs') %>
    <main class='main'>
        <h1 class=''>404! Page not Found.</h1>
    </main>

    <%- include('includes/end.ejs') %>
