extends layouts/main-layout.pug
block styles   
    link(rel="stylesheet" href="/css/shop.css")


block body
    main.shop
        h1.shop-header Products
        p all products go here
        .cards
            if prods.length !==0
                each product in prods 
                    .card 
                        .card-main
                            h3.card-head #{product.title}
                            p.card-price $#{product.price}
                        img.card-image(src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" alt="card-image")
                        p.card-desc This is a nice #{product.title}
            else 
                h3 No Products




