<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" href="/css/shop.css"/>
<%- include('../includes/navigation.ejs')%>
    <main class="shop">
        <h1>Hi From Cart</h1>
        </main>

<%- include('../includes/end.ejs')%>
