<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" href="/css/shop.css"/>
<%- include('../includes/navigation.ejs')%>
    <main class="shop">
        <h1 class="shop-header" >Cart</h1>
        <p> all Order in cart go here</p>
        
            
        </main>

<%- include('../includes/end.ejs')%>
