</head>
<body>
    <nav class="nav">
        <h4 class="nav-header">RedEye</h4>
        <ul class="nav-links ">
            <li class=" <%=  isShopPage?'active nav-link':'nav-link' %>"><a href="/">

                shop
            </a>
            </li>
            <li class="<%= isAddProductPage?'active nav-link':'nav-link' %>">
                <a href="/admin/add-product">

                    add-product
                </a>
            </li>
        </ul>
    </nav>