<!DOCTYPE HTML>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="/css/style.css")
        block styles
    body 
        nav.nav
            h4.nav-header RedEye
            ul.nav-links
                li.nav-link(class=(isShopPage?'active':null))
                    a(href="/") shop

                li.nav-link(class=(isAddProductPage?'active':null))
                    a(href="/admin/add-product") add-product


        block body




